/* CSS Document */

.alignCenter {
	text-align:center;}
	
.alignRight {
	text-align:right;}
	
.stdpad {
	padding:20px;}
	
.stdpadt {
	padding-top:20px;}
	
.halfpad {
	padding:10px;}
	
.stdpadv {
	padding-top:20px;
	padding-bottom:20px;}
	
.doublemart {
	margin-top:40px;}
	
.doublepad {
	padding:40px;}
	
.doublepadb {
	padding-bottom:40px;}
	
.doublepadt {
	padding-top:40px;}
	
.doublepadl {
	padding-left:40px;}
	
.doublepadr {
	padding-right:40px;}
	
.doublepadh {
	padding-left:40px;
	padding-right:40px;}
	
.doublepadv {
	padding-top:40px;
	padding-bottom:40px;}
	
.stdmart {
	margin-top:10px;}
	
.stdmarl {
	margin-left:10px;}
	
.red {
	color:#9a2f3a;}
	
.navbar a,
#footer a {
	border-bottom:none;}
		
.borderBottom {
	border-bottom:1px solid #d6d5d5;}
	
.borderRight {
	border-right:1px solid #d6d5d5;}
	
.borderLeft {
	border-left:1px solid #d6d5d5;}
	
.navigationWrap {
	width:960px;
	margin:0 auto;}

.redTextOverlay {
	background-color:#9b2d35;
	width:50%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	right:0;
	opacity:0.92;
	padding-right:30px;}
	
.redTextOverlayFull {
	background-color:#9b2d35;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	right:0;
	opacity:0.92;
	padding-right:30px;}
	
.bannerText {
	color:#ffffff;}
	
.redTextOverlayFull .chunkyBorder {
		border-right:5px solid #ffffff;	
	}
	
.redTextOverlayFull .bannerText h1 {
	font-size:70px !important;
	}
	
.redTextOverlayFull p {
	font-size:16px;}
	
.redTextOverlayFull .doublepad {
	padding:80px 40px;}
	
.bannerText h1 {
	font-size:48px !important;
	font-weight:300;
	margin-bottom:20px;
	color:#ffffff  !important;
	border-bottom:none;
	}
	
.negMargin {
	margin-bottom:-10px;}
	
.greyBox {
	text-align:left;
	background-color:#f5f5f5;
	font-size:12px;
	font-weight:500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	}
	
.btn-red {
	background-color:#9a2f3a;
	color:#ffffff;
	}
	
a.btn-red {
	color:#ffffff !important;}

#caseStudiesSlider .bannerLeft,
#caseStudiesSlider .bannerRight {
	background-color:#f5f5f5;
	height:60px;
	width:60px;
	display:block;
	position:absolute;
	top:45%;
}

#caseStudiesSlider .carousel-control {
	height:60px;
	width:60px;
}
#caseStudiesSlider .bannerLeft {
	border-top:1px solid #D6D5D5;
	border-right:1px solid #D6D5D5;
	border-bottom:1px solid #D6D5D5;
	height:35px;
	width:35px;}
	
#caseStudiesSlider .bannerRight {
	border-top:1px solid #D6D5D5;
	border-left:1px solid #D6D5D5;
	border-bottom:1px solid #D6D5D5;
	height:35px;
	width:35px;
	right:0;}
	
#homepageSlider .bannerLeft,
#homepageSlider .bannerRight {
	background-color:#ffffff;
	height:60px;
	width:60px;
	display:block;
	position:absolute;
	top:45%;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);}
	
#homepageSlider .bannerLeft {
	background-image:url(../images/icon-banner-left.svg);
	background-size:50% 50%;
	background-repeat:no-repeat;
	background-position:50% 50%;}
	
#homepageSlider .bannerRight {
	right:0;
	background-image:url(../images/icon-banner-right.svg);
	background-size:50% 50%;
	background-repeat:no-repeat;
	background-position:50% 50%;}
	
#caseStudiesSlider .bannerLeft {
	background-image:url(../images/icon-banner-left.svg);
	background-size:50% 50%;
	background-repeat:no-repeat;
	background-position:50% 50%;}
	
#caseStudiesSlider .bannerRight {
	right:0;
	background-image:url(../images/icon-banner-right.svg);
	background-size:50% 50%;
	background-repeat:no-repeat;
	background-position:50% 50%;}
	
.nav-icons {
	list-style-type:none;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	margin:0;
	padding:0;
	}
	
.nav-icons a {
	color:#726d6d;
	font-size:12px;
	text-decoration:none;
	display:block;
	width:100px;
	height:100%;
	text-align:center;
	padding-top:28px;
	padding-bottom:28px;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	
.nav-icons a:hover {
	text-decoration:none;
	background-color:#f7f7f7;
	color:#9a2f3a;}
	
.nav-icons li {
	border-left:1px solid #cccccc;
	float:left;
	height:100%;
	}
	
.nav-icons li.last {
	border-right:1px solid #cccccc;}
	
.iconLogin {
	background-image:url(../images/icon-login.svg);
	height:35px;
	width:35px;
	display:block;
	background-size:contain;
	margin:0 auto 10px;
	}
	
.nav-icons a:hover .iconLogin {
	background-image:url(../images/icon-login-hover.svg);}

.iconSearch {
	background-image:url(../images/icon-search.svg);
	height:35px;
	width:35px;
	display:block;
	background-size:contain;
	margin:0 auto 10px;
	}
	
.nav-icons a:hover .iconSearch {
	background-image:url(../images/icon-search-hover.svg);}
	
.iconBlog {
	background-image:url(../images/icon-blog.svg);
	height:35px;
	width:35px;
	display:block;
	background-size:contain;
	margin:0 auto 10px;
	}
	
.nav-icons a:hover .iconBlog {
	background-image:url(../images/icon-blog-hover.svg);}
	
.iconContact {
	background-image:url(../images/icon-contact.svg);
	height:35px;
	width:35px;
	display:block;
	background-size:contain;
	margin:0 auto 10px;
	}
	
.nav-icons a:hover .iconContact {
	background-image:url(../images/icon-contact-hover.svg);}
	
.iconMax {
	background-image:url(../images/icon-maximise.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.iconTag {
	background-image:url(../images/icon-tag.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.iconLegal {
	background-image:url(../images/icon-legal.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.iconPercent {
	background-image:url(../images/icon-percent.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.iconShield {
	background-image:url(../images/icon-shield.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.iconFile {
	background-image:url(../images/icon-file.svg);
	width:30px;
	height:30px;
	background-size:contain;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;}
	
.greyBox p {
	display:inline-block;
	vertical-align:middle;
	margin-bottom:20px;
	margin-top:20px;
	width:80%;}
	
#footer {
	background-color:#323232;
	width:100%;
	}
	
.footerList {
	list-style-type:none;
	padding:0;
	margin:0;}
	
#footer .title {
	color:#ffffff;
	font-weight:500;
	font-size:14px;
	}
	
#footer.row {
	margin:0;}
	
.footerList a {
	color:#c5c3c3;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
	
.footerList a:hover {
	text-decoration:none;
	color:#ffffff;
	border-bottom:1px dotted #c5c3c3;}
	
.gItalic {
	font-family:Georgia, serif;
	font-style:italic;
	font-size:16px;
	color:#ffffff;
	font-weight:100;}
	
.copyright {
	background-color:#000000;
	font-size:11px;
	color:#e7e5e5;
	}
	
.copyright a {
	color:#e7e5e5;
	border-bottom:1px dotted #e7e5e5;}
	
.copyright a:hover {
	text-decoration:none;
	color:#ffffff;
	border-bottom:1px dotted #ffffff;}

.copyrightLink {
	margin-right:5px;}
	
.resourcesList {
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;}
	
.resourcesList li {
	padding-left:50px;
	margin-top:-15px;}
	
.resourcesList h3 {
	font-size:14px;
	color:#726d6d;
	font-weight:700;
	margin-top:0;}
	
.greyBack {
	background-color:#fbfafa;
	}
	
#tier2 .col-md-6 {
	padding:0;}
	
.caseGeorgia {
	font-family:Georgia, serif;
	font-style:italic;
	font-size:18px;
}

.casePad {
	padding-left:100px;
	padding-right:100px;
	text-align:left;}
	
h4 {
	background-color:#fafafa;
	text-align:left;
	padding:10px;
	border-bottom:1px solid #D6D5D5;
	font-size:14px !important;
	}

	
.iconInfo {
	background-image:url(../images/icon-list-info.png);
	background-repeat:no-repeat;
	background-size:40px auto;}
	
.iconFAQ {
	background-image:url(../images/icon-list-faq.png);
	background-repeat:no-repeat;
	background-size:40px auto;}
	
.iconBook {
	background-image:url(../images/icon-list-book.svg);
	background-repeat:no-repeat;
	background-size:40px 40px;}
	
.iconTwitter {
	background-image:url(../images/icon-twitter.svg);
	height:40px;
	width:40px;
	background-size:contain;
	display:inline-block;}
	
.iconFacebook {
	background-image:url(../images/icon-facebook.svg);
	height:40px;
	width:40px;
	background-size:contain;
	display:inline-block;}
	
.tickList {
	list-style-type:none;
	padding:0;
	}
	
.tickList li {
	background-image:url(../images/icon-tick.svg);
	background-size:30px 30px;
	background-repeat:no-repeat;
	padding-left:50px;
	padding-bottom:20px;
	}
	
.carousel-control {
	border-bottom:none;}
	
.scrollTop {
	display:none;}
	
#category {
	position:relative;}
	
#sticker {
  background: #FBFAFA;
  border:1px solid #D6D5D5;
  border-left:5px solid #9A2F3A;
  border-top:none;
  width: 200px;
  text-align: center;
  float:left;
  margin-top:20px;
}

.stickerList {
	list-style-type:none;
	text-align:left;
	margin:0;
	padding-left:10px;
	}
	
.stickerList li {
	padding-top:10px;
	padding-bottom:10px;
	}
	
.stickerList a {
	font-size:14px;
	border-bottom:none;}
	
#social .col-md-12 {
	padding:0;}	
	
p.big,
a.big {
	font-size:18px;}
	
#sticker h6 {
	text-align:left;
	background-color:#9A2F3A;
	color:#ffffff;
	margin:0;
	padding:10px;
	font-size:14px;
	font-weight:500;}
	
.numberCount {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:2px 10px;
	background-color:#adadad;
	color:#ffffff;
	font-size:11px;
	font-weight:700;
	display:inline-block;
	float:right;
	margin-right:10px;
	}
	
.media a {
	border-bottom:none;}
	
.media-body {
	padding-left:20px;}

a img {
	border:none;}
	
.bannerLink {
	background-color:#a94a50;
	color:#ffffff;
	font-weight:500;
	height:40px;
	padding:0 20px;
	border-right:3px solid #ffffff;
	display:inline-block;
	vertical-align:middle;
	line-height:37px;
	}
	
.bannerLink:hover {
	background-color:#ffffff;
	color:#9A2F3A;
	border-bottom:none;}
	
.squareArrow {
	width:40px;
	height:40px;
	background-color:#ffffff;
	display:inline-block;
	vertical-align:middle;
	background-image:url(../images/icon-banner-right.svg);
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:10px 10px;}
	
.topLink {
	padding-top:20px;}
	
.breadcrumbsWrapper {
	width:100%;
	background-color:#fafafa;
	border-bottom:1px solid #D6D5D5;
	padding-top:10px;
	}
	
.breadcrumbs {
	list-style-type:none;
	font-size:12px;
	font-weight:500;}
	
.breadcrumbs li {
	float:left;}
	
.breadcrumbs li.current {
	padding-left:10px;}
	
.breadcrumbs a {
	border-bottom:none;
	padding-right:20px;
	background-image:url(../images/breadcrumb-arrow.png);
	background-repeat:no-repeat;
	background-position:right;}
	
.current {
	color:#9A2F3A;}